.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    height: 100vh;
    background-size: cover;
}
.tourism-card {
    text-align: center;
    background-color: white;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.main-heading {
    font-family: "Roboto";
}
.paragraph {
    font-family: "Roboto";
}
.button {
    height: 36px;
    width: 138px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
}
.main-bg{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    background-size: cover;
    height: 100vh;
}
.heading{
    color: white;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: bold;
    padding: 24px;
}
.card-container{
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 17px;
}
.card-container-heading{
   color: rgba(0, 0, 0, 0.849); 
   font-family: "Roboto";
   font-weight: bold;
   font-size: 25px; 
}
.card-description{
    font-family: "Roboto";
    font-size: 18px;
}
.text-container{
    padding: 12px;
}
.favourite-places-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    height: 100vh;
    background-size: cover;
}

.favourite-places-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 18px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 13px;
}
.image1{
   width: 80px;
   height: 100px; 
}
.unorderedlist{
    list-style-type:square;
}
.orderedlist{
    list-style-type: upper-alpha;
}