.con1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    color: white;
    font-family: "Roboto";
    height: 100vh;
}

.todo {
    text-align: center;
}

.button {
    text-align: center;
    width: 60px;
    height: 30px;
    background-color: orange;
    border-width: 1px;
}

.con2 {
    text-align: center;
}

.last-p {
    text-decoration: underline;
}
.padd{
    margin: 20px;
}